<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<h1 th:text="'List of Vets'">Vets</h1>
<!--/*@thymesVar id="vet" type="com.geekface.gfpetclinic.domain.Vet"*/-->
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">ID</td>
        <td th:text="${vet.firstName}">FirstName</td>
        <td th:text="${vet.lastName}">LastName</td>
    </tr>
    </tbody>
</table>
</body>
</html>